 body {
  margin: 0;
  height: 100vh;
}

/* div-ის საწყისი სტილი */
.box {
  width: 200px;
  height: 100px;
  background-color: lightgray; /* ნორმალური ფერი */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: background-color 0.3s;
}

/* როცა მაუსი არის div-ზე */
.box:hover {
  background-color: lightgray;
}

/* როცა მაუსი არ არის div-ზე (mouseleave ეფექტი) */
body:not(:hover) .box {
  background-color: red;
}