#box {
  width: 220px;
  height: 120px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;

  /* ფერი უცებ არ შეიცვალოს */
  transition: background-color 0.6s ease;
}