#messageBox {
    width: 300px;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 18px;
    transition: all 0.4s ease;
}


.active {
    background-color: #4facfe;
    color: white;
}
