/* 1) კომენტარების სახით ახსენით cubic-bezier  */


/* cubic-bezier() გამოიყენება ანიმაციის სიჩქარის სამართავად */

/* cubic-bezier(x1, y1, x2, y2) */

/* x1 და y1 — პირველი საკონტროლო წერტილი */
/* x2 და y2 — მეორე საკონტროლო წერტილი */

/* x ღერძი = დრო (0–1 შუალედში უნდა იყოს) */
/* y ღერძი = მოძრაობის სიჩქარე / პროგრესი */

/* cubic-bezier განსაზღვრავს:
   როგორ იწყება ანიმაცია,
   როგორ ჩქარდება,
   და როგორ სრულდება */

/* მაგალითები:
   ease        = cubic-bezier(0.25, 0.1, 0.25, 1)
   linear      = cubic-bezier(0, 0, 1, 1)
   ease-in     = cubic-bezier(0.42, 0, 1, 1)
   ease-out    = cubic-bezier(0, 0, 0.58, 1)
   ease-in-out = cubic-bezier(0.42, 0, 0.58, 1)
*/

/* გამოყენება:
   animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
*/
