.ball {
  width: 50px;
  height: 50px;
  background-color: #ff4b5c;
  border-radius: 50%; 
  position: relative;
}

.ball {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 200px;
  }
}