.ball {
  width: 50px;
  height: 50px;
  background-color: #ff4b5c;
  border-radius: 50%;
  position: relative;
  animation: bounce 2s infinite;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1); /* ქვემოთ სწრაფი, ზემოთ ნელი */
}

@keyframes bounce {
  0% {
    top: 0;
    transform: scaleX(1) scaleY(1);
  }
  50% {
    top: 200px;
    transform: scaleX(1.3) scaleY(0.8); /* დაბლა ფართოვდება ჰორიზონტალურად, აჭიმება ვერტიკალურად შედარებით ქვემოთ */
  }
  100% {
    top: 0;
    transform: scaleX(1) scaleY(1);
  }
}
