/* 
  .triangle კლასი:
  - სიგანე და სიმაღლე განსაზღვრულია
  - background-color რათა ვნახოთ ფორმა
  - clip-path: polygon() გამოიყენება, რომ div გადაიქცეს სამკუთხედად
*/
.triangle {
  width: 200px;                /* სიგანე */
  height: 200px;               /* სიმაღლე */
  background-color: #e74c3c;   /* წითელი ფონი */
  
  /* 
    clip-path polygon:
    3 კოორდინატით ვქმნით სამკუთხედ
    კოორდინატები ნაპრალებში (x y)
    50% 0%    -> ზედა წვერი შუაში
    0% 100%   -> ქვედა მარცხენა კუთხე
    100% 100% -> ქვედა მარჯვენა კუთხე
  */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  
  margin: 50px auto;           /* ცენტრირება გვერდზე */
}
